@media screen and (min-width:768px){
  #table{
    margin: 0 17px 5px 17px;
  }
  .creat_card{
    min-height: 200px;
    background: #fff;
    margin: 0 17px;
    padding: 17px;
  }
  .borrow_card_title{
    margin: 0 auto;
  }


  .borrow_card_input_span{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .borrow_card_input_span_input{
    border: none;
    outline-style: none;
    width: 235px;
  }
}
.borrow_card_name{
  padding: 17px;
}
.button_style_creat_card{
  border-radius: 7px;
  background: #009695;

}
.button_style_creat_card1{
  border-radius: 7px;
  background: #FF7E00;
}
.button_creat_card{
  color: #fff;
}
