body,html{
  height: 100%;
  background:url(../images/back.jpg)no-repeat 0 0;
  background-size: cover;
}
.web_index{
  position: relative;

}
.book_name_color{
  color: #fff;
}
.padding{
  padding: 0;
}
#searchBar{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.book_list{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
