body,html{
  height: 100%;
  background:#f4f4f4;
}
.web_index{
  position: relative;

}
.book_name_color{
}
.padding{
  padding: 0;
}
#searchBar{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.book_list{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.borrow_none{
  text-align: center;
  font-size: 14px;
  color: #999;
}
.book_type_nav{
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  position: fixed;
  right: 23px;
  bottom: 90px;
}
.alert_style{
  color: red;
}
