<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <title>首页</title>
    <link rel="stylesheet" href="css/weui.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/mobile_index.css">
    <link rel="stylesheet" href="css/back_top.css">
</head>
<body>
    <div id="admin"></div>

    <script type="text/javascript">
    </script>
    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app/mobile_index.js"></script>


    <!-- 返回顶部 -->
    <script type="text/javascript" class="dialog js_show">
        $(function(){
            var $iosDialog1 = $('#iosDialog1');

            $('.weui-dialog__btn_default').click(function(){
                $('.js_dialog').fadeOut(200);
            });
            $('.weui-mask').click(function(){
                $('.js_dialog').fadeOut(200);
            });

            $('.book_wrap').on('click', function(){
                $iosDialog1.fadeIn(200);
            });
        });

        </script>

    <!-- 分类 -->
    <script type="text/javascript">
    $(function(){
        var $book_type_infor = $('#book_type_infor');
        var $backopc = $book_type_infor.find('.weui-mask');

        $(".book_type_nav").on('click', function(){
            $book_type_infor.fadeIn(200);
            $backopc.on('click',function () {
                $book_type_infor.fadeOut(200);
            });
        });


        $(".weui-actionsheet__cell").on('click',function () {
            $book_type_infor.fadeOut(200);
        });
    });
  </script>
</body>
</html>
